
.component{
    height: 525px;
}

#tickets {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px; 
    border-radius: 5px 5px 0 0;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
}

#tickets tr:nth-child(even){background-color: #f2f2f2;}

#tickets tr:hover {background-color: #ddd;}



#tickets thead tr{
    background-color: #b0be54;
    color: #0b0b0b;
    text-align: left;
    font-weight: bold;

}

#tickets th,
#tickets td {
    padding: 12px 15px;
}

#tickets tbody tr {
    border-bottom: 1px solid #dddddd;
}


#tickets tbody tr:last-of-type {
    border-bottom: 7px solid #b0be54;
}

