<h2 class="text-primary text-left px-5 py-5">Tickets</h2>

<!--Russell code-->
<div>
    <mat-form-field appearance="outline">
    <mat-label> Status Filter </mat-label>
    <mat-select multiple [(value)]="selectedstatuses">
      <!-- <mat-select-trigger> {{namedTrigger(this.selectedYearLevels, this.yearLevels)}} </mat-select-trigger> -->
      <mat-select-trigger> {{defaultTrigger(this.selectedstatuses, this.statuses)}} </mat-select-trigger>
      <mat-option *ngFor="let status of statuses" [value]="status"> {{status}} </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!--Russell code-->

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-primary px-2 py-3">Ticket ID</th>
            <th class="text-primary px-2 py-3">Created At</th>
            <th class="text-primary px-2 py-3">Updated At</th>
            <th class="text-primary px-2 py-3">Completed At</th>
            <th class="text-primary px-2 py-3">Status ID</th>
            <th class="text-primary px-2 py-3">Assignee ID</th>
            <th class="text-primary px-2 py-3">Requester ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ticket of tickets">
            <td> {{ticket.ticketId}} </td>
            <td> {{ticket.createdAt}} </td>
            <td> {{ticket.updatedAt}}</td>
            <td> {{ticket.completedAt}} </td>
            <td> {{ticket.statusId}} </td>
            <td> {{ticket.assigneeId}} </td>
            <td> {{ticket.requesterId}} </td>
        </tr>
    </tbody>
</table>
 