<div class = "component">
    <h1 class="text-center px-1 py-1">Tickets</h1>

<!-- Russell code -->
<div>
    <mat-form-field appearance="outline">
    <mat-label> Status Filter </mat-label>
    <mat-select multiple [(value)]="selectedstatuses">
    <!--  <mat-select-trigger> {{namedTrigger(this.selectedYearLevels, this.yearLevels)}} </mat-select-trigger> -->
      <mat-select-trigger> {{defaultTrigger(this.selectedstatuses, this.statuses)}} </mat-select-trigger>
      <mat-option *ngFor="let status of statuses" [value]="status"> {{status}} </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!--Russell code-->

<table id="tickets" class="table table-striped">
    <thead>
        <tr>
            <th>Ticket ID</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th >Completed At</th>
            <th>Status ID</th>
            <th>AssigneeID</th>
            <th>RequesterID</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor = "let ticket of tickets">
            <tr *ngIf="filterTickets(ticket) ">
                <td> 
                    <a [routerLink]="['/ticket-view', ticket.ticketId]">{{ticket.ticketId}}</a> <!--to make ticket link clickable-->
            <!-- <tr *ngFor = "let ticket of tickets"> -->
            <!--<td> {{ticket.ticketId}} </td> No longer needed since above statement to make ticketId clickable -->
                <td> {{ticket.createdAt}} </td>
                <td> {{ticket.updatedAt}}</td>
                <td> {{ticket.completedAt}} </td>
                <td> {{ticket.status}} </td>
                <td> {{ticket.agentId}} </td>
                <td> {{ticket.requesterId}} </td>
            </tr>
        </ng-container>
    </tbody>
</table>
</div>
 