.dashboard-view {
	margin-top: 1rem;
}

/* User Details box between each box */
.dashboard-view .detail .right {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;

	flex: 1; /* used to keep desc box proportional */
	padding: 0.5rem; /* Surrounding padding */
}

/* Space and color between all content and outside borders */
.dashboard-view .detail {
	padding: 1.5rem; /* Space around t-v contents (shrink or larger) */
	font-size: 1rem; /* size of text in t-v */
	background: #2e5495;  /* !! color of ticket-tiew page !! (background: #b0be54;)*/

	display: flex;
	margin-bottom: 1.0rem;
}

.dashboard-view .detail .ticket-surround {
	display: flex;
	width: 100%;
	align-items: flex-start;
	padding: 1rem; /* surrounding padding around contents within ticket info */
	border: 1.7px solid gray; /* color and weight of box line */
	background: #ffffff; /* Wite background color */
}

/* "User Details" box criteria */
.dashboard-view .detail .label-box {
	background: #e6e6e6;
	padding: 0.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
/* Color of ALL box lines */
.dashboard-view .box {
	border: 1.7px solid gray; /* color and weight of box lines */
}

/* Color of place holder text (full name, email.. etc) */
.dashboard-view .label {
	color: #898989;
}

#tickets {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px; 
    border-radius: 5px 5px 0 0;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
}

#tickets tr:nth-child(even){background-color: #f2f2f2;}

#tickets tr:hover {background-color: #ddd;}



#tickets thead tr{
    background-color: #b0be54;
    color: #0b0b0b;
    text-align: left;
    font-weight: bold;

}

#tickets th,
#tickets td {
    padding: 12px 15px;
}

#tickets tbody tr {
    border-bottom: 1px solid #dddddd;
}


#tickets tbody tr:last-of-type {
    border-bottom: 7px solid #b0be54;
}

