<div class = "changepass-container">
    <div class="col-md-6 offset-3 fp-box">
        <div class="fields">
            <div class="form-group">
            <h2> Reset Password</h2>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group pt-1">
                    <label> Please Enter New Password: </label>
                     <input type="string" class="form-control" id="password"
                     [(ngModel)] = "password" name="password">
                </div>
                <br>
                <button class="btn btn-success" type="submit">Submit</button>
            </form> 
            </div>
        </div>
    </div>
</div>