<div class = "component">
    <div class="col-md-6 offset-3 fp-box">
        <div class="card">
            <h2> Reset Password</h2>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group">
                    <div class="form-group pt-1">
                        <label> Please Enter New Password: </label>
                         <input type="string" class="form-control" id="password"
                         [(ngModel)] = "password" name="password">
                    </div>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div> 
            </form> 
        </div>
    </div>
</div>