
.component{
    height: 525px;
}

.card{
    height: auto;
    background-color: #a8b557;
    padding: 20px;
}

.strong{
    color: rgb(10, 10, 10);
}

label{
    color: rgb(10, 10, 10);
}

input{
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 8px;
}

.file-input {
    display: none;
}


/*
.changepass-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #419633;
    background: -webkit-linear-gradient(-135deg, #b8ddb2, #419633);
    background: -o-linear-gradient(-135deg, #b8ddb2, #419633);
    background: -moz-linear-gradient(-135deg, #b8ddb2, #419633);
    background: linear-gradient(-135deg, #b8ddb2, #419633);
}

.changepass-container .fp-box {
    background-color: #fff;
    margin: center;
    padding: 8rem 16rem 9rem; 
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
}

.changepass-container .fp-box .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changepass-container .fp-box .form .form-group {
    display: flex;
    flex-direction: column;
}

.changepass-container .fp-box .form .fields {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}*/