<div class="col-md-6 offset-3">
    <div class="card" >  
    <h1 class="strong"> Create Ticket </h1>
    <br><br>
    <form (ngSubmit) = "onSubmit()">
        
        <div>
            <label>Requester</label>
            <input type="string" style="width: 200px" class = "form-control" id="requesterId"
            [(ngModel)] = "ticket.requesterId" name="requesterId">
        </div>

        <div>
            <label for="t1">Status<span aria-label="required">*</span></label><br>
            <input type="text" id="t1" name="statuses" list="l1" required
            [(ngModel)] = "ticket.statusId" name="statusId"
                   pattern="[Oo]pen|[Ss]olved|[Pp]ending|[Ss]pam">
            <datalist id="l1">
              <option>Open</option>
              <option>Solved</option>
              <option>Pending</option>
              <option>Spam</option>
            </datalist>
        </div>

        <label> Title </label>
        <input type="string" class="form-control" id="ticketTitleId" 
        [(ngModel)] = "ticket.title" name="ticketTitleId">
        <!-- backend will need to be updated to include a ticket description -->
            <label for="text area">Description:</label><br>
			<textarea id="descriptionId" 
			name="description" rows="10" cols="84" ></textarea><br>
            <!-- [(ngModel)] = "ticket.content" name="ticketDescription" -->
        <button class="btn btn-success" type="submit">Submit</button>
        <!-- this will require an associated file upload component to make it usable -->
        <input type="file" class ="file-upload" onchange="console.log(event.target.files)">
    </form>
    </div>
    