
.card{

    background-color: #a8b557;
    padding: 20px;
}

.card 

.strong{
    color: rgb(10, 10, 10);
    
}

label{

    color: rgb(10, 10, 10);
}

input{
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

.file-input {
    display: none;
}
