<div class = "component">
    <div class="col-md-6 offset-3">
        <div class="card" >
            <strong> Login</strong>
            <br><br>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group pt-1">
                    <label> Which user do you wish to change role? Provide their username: </label>
                     <input type="string" class="form-control" id="username"
                     [(ngModel)] = "username" name="username">
                </div>
                <div class="form-group pt-1">
                    <label> What new role should they have? (USER, AGENT, ADMIN)</label>
                     <input type="string" class="form-control" id="password"
                     [(ngModel)] = "newRole" name="password">
                </div>
                <br>
                <button class="btn btn-success" type="submit">Submit</button>
                <br><br>
                </form> 
            </div>
    </div>
</div>
