<div class="col-md-6 offset-3">
    <h3> Update User </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <!-- update first name of user -->
        <div class="form-group">
            <label> First Name </label>
            <input type="string" class="form-control" id="firstname"
                [(ngModel)] = "user.firstName" name="firstname">
        </div>
        <!-- update last name of user -->
        <div class="form-group">
            <label> Last Name </label>
            <input type="string" class="form-control" id="lastname"
                [(ngModel)] = "user.lastName" name="lastname">
        </div>
        <!-- update email of user -->
        <div class="form-group">
            <label> Email </label>
            <input type="email" class="form-control" id="email"
                [(ngModel)] = "user.email" name="email">
        </div>
        <!-- update admin user -->
        <div class="form-group">
            <label> Admin </label>
            <input type="number" class="form-control" id="admin"
                [(ngModel)] = "user.admin" name="admin">
        </div>
        <!-- Update agent in form -->
        <div class="form-group">
            <label> Agent </label>
            <input type="number" class="form-control" id="agent"
                [(ngModel)] = "user.agent" name="agent">
        </div>
        <!-- update requestor -->
        <div class="form-group">
            <label> Requestor </label>
            <input type="number" class="form-control" id="requester"
                [(ngModel)] = "user.requester" name="requester">
        </div>
        <!-- Submit button to update user info -->
        <button class="btn btn-success" type="submit">Update</button>
    
    </form>
    </div>
    