<div class="login-container">
	<div class="login-box">
        <br>
		<img src="./assets/img/dajanicologo.png" class="logo" alt="Dajani Consulting Ticketing System ">
		<form [formGroup]="loginForm" class="form">
			<h2 class="heading">Member login</h2>
			
			<div class="fields">
				<div class="form-group">
					<input formControlName="username" type="text" placeholder="Username" class="field">

					<mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
						Username is required
					</mat-error>
				</div>

				<div class="form-group">
					<input formControlName="password" type="password" placeholder="Password" class="field">
					<mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
						Password is required
					</mat-error>
				</div>
			</div>

			<button class="btn-login" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>

			<div class="links">
				<span>
					Forgot <a routerLink="/forgotPassword">Password?</a>
				</span>
				
				<a routerLink="/signUp">Create your account -></a>
			</div>
		</form>
	</div>
</div>