.card{

    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    padding: 20px;
}

.card 

.strong{
    color: white;
    
}

label{

    color: cornsilk;
}

input{
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

.file-input {
    display: none;
}
