<div class = "component">
    <div class="col-md-6 offset-3">
        <div class="card" >
            <strong> Reset Password </strong>
            <br><br>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group pt-1">
                    <label> Token </label>
                     <input type="string" class="form-control" id="token"
                     [(ngModel)] = "token" name="token">
                </div> 
                <div class="form-group pt-1">
                    <label> New Password </label>
                     <input type="string" class="form-control" id="password"
                     [(ngModel)] = "password" name="password">
                </div> 
                <button class="btn btn-success" type="submit">Submit</button>
                </form>  
            </div>
    </div>
</div>
