.resetpass-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #419633;
    background: -webkit-linear-gradient(-135deg, #b8ddb2, #419633);
    background: -o-linear-gradient(-135deg, #b8ddb2, #419633);
    background: -moz-linear-gradient(-135deg, #b8ddb2, #419633);
    background: linear-gradient(-135deg, #b8ddb2, #419633);
}

.resetpass-container .fp-box {
    background-color: #fff;
    margin: 0 auto;
    padding: 8rem 6rem 3rem;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
}

.resetpass-container .fp-box .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetpass-container .fp-box .form .form-group {
    display: flex;
    flex-direction: column;
}

.resetpass-container .fp-box .form .fields {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}