
#users {
    width: 100%;
    margin-left: 3px;    
}

#users td, #users th {
    border: 1px solid #ddd;
    padding: 6px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}


#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a8b557;
    color: rgb(10, 10, 10);
}