
     
    <h2 id="users">User List</h2>
    <table id="users" >
        <thead>
        <tr>
            <th>User ID</th>
            <th>Email ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor = "let user of users">
            <td> {{user.userId}} </td> 
            <td> {{user.email}} </td>
            <td>
                <button (click)="updateUser(user.userId)" class="btn btn-info"> Update </button>
            </td>
        </tr>
    </tbody>
</table>


 