.signout {
    position:absolute;
    top: 5px;
    right: 5px;

}

.homeButton {
    position: absolute;
    top: -3px;
    right: 85px;
    color: #b0be54;
}

.green {
    color: #b0be54;

}

.signoutColor {
    background-color: #e9e9e9;
    color:#b0be54;
}

.lightGray {
    background-color:#e9e9e9;

}


.navbar {
        display: flex;
        /* align-items: left; */
        justify-content: left;
        padding: 5px;
      }

.nav {
    color: #b0be54;
    background-color: #b0be54;
}


.footer {
    background-color:#b0be54;
}