<div class = "component">
    <div class="col-md-6 offset-3">
        <div class="card" >
            <strong> Reset Password </strong>
            <br><br>
            <h2>Enter email so we can send you a link to reset your password</h2>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group pt-1">
                    <label> Email </label>
                     <input type="string" class="form-control" id="email"
                     [(ngModel)] = "email" name="email">
                </div> 
                <button class="btn btn-success" type="submit">Submit</button>
                </form>  
            </div>
    </div>
</div>
