<div class = "forgotpass-container">
    <div class="col-md-6 offset-3 fp-box">
        <div class="fields" >
            <div class="form-group">
                <h2> Reset Password </h2>
                <br>
                <h2>Enter your email so a link can be sent to reset your password.</h2>
                <form (ngSubmit) = "onSubmit()">
                    <div class="form-group pt-1">
                        <label> Email </label>
                        <input type="string" class="form-control" id="email"
                        [(ngModel)] = "email" name="email">
                    </div> 
                    <br>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>  
            </div>
        </div>
    </div>
</div>