
<h2 class="text-primary text-left px-5 py-5">Ticket View</h2>
<h3> Current Ticket </h3>
<table class="container">
    <thead>
        <tr>
            <th class="text-primary px-2 py-3">Ticket ID</th>
            <th class="text-primary px-2 py-3">Created At</th>
            <th class="text-primary px-2 py-3">Updated At</th>
            <th class="text-primary px-2 py-3">Completed At</th>
            <th class="text-primary px-2 py-3">Status ID</th>
            <th class="text-primary px-2 py-3">Assignee ID</th>
            <th class="text-primary px-2 py-3">Requester ID</th>
        </tr>
    </thead>
</table>

<style>
    input{
        padding: 1px;
        border-radius: 4px;
    }
</style>

<!---->

<div class="float-container">

    <div class="float-child">
      <div class="green">Edit</div>
    </div>
    
    <div class="float-child">
      <div class="blue">Comment</div>
    </div>

    <div class="float-child">
        <div class="blue">Assign</div>
      </div>

      <div class="float-child">
        <div class="blue">Status - Pending</div>
      </div>
    
  </div>
<!---->


<!-- Breakpoint to seperate itself from the ticket (like a carriage retrun)-->
    <div>
    <br><br> 
    <div>

<body>
    <div style="margin: auto; width: 500; height: 500; background-color: rgb(219, 224, 226); padding: 10px;"> <!-- Defines style background/boxes -->

    <label for="title">Title:</label>
    <input type="text" id="title"
    title ="title" cols="50" placeholder=" Please help with task.">
    <br><br>

    <p>
    <label for="text area">Description:</label></p>
    <textarea id="description" 
    name="description" rows="4" cols="50">Having an issue allocating resources within between certain classes. Please help.</textarea>
    <br><br>
    <p>
    
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName"
    firstName="firstName" placeholder=" John">
    <br><br>
    
    <!-- How it will most likely be written. 
    <div>
    <label for="">firstName:</label>
    <input type="text" id="firstName" name="" readonly>
    <div>
    -->
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName"
    firstName="lastName" placeholder=" Doe">
    <br><br>

    <label for="ticketId">Ticket ID:</label>
    <input type="text" id="ticketId"
    firstName="ticketId" placeholder=" NCS100251">
    <br><br>
    
</div>
<body>
