<div class="container" *ngIf="ticket">

	

	<!-- Breakpoint to seperate itself from the ticket (like a carriage retrun)-->
	<br><br> 

		<!-- Each "ticket-detail-row" contains two input fields.
		1. input fields are readonly.
		2. Associated data was bound using 'property binding'.
		   [value]="ticket.ticketId"
		3. matInput used for custom styling
		4. Styles can be viewed in css file
		5. Flex used for layout.
	-->

	<h2>
		<span class="underlined">Details for ticket #{{ ticket.ticketId }}</span>
	</h2>
	<div style="margin: auto; width: 500; height: 500; background-color: rgb(233, 235, 235); padding: 30px;"> <!-- Defines style background/boxes -->
	
		<!-- Displays User Details -->
		<div *ngIf="ticket.user">
			<h3>
				<span class="underlined">User Details</span>
			</h3>
			<div class="ticket-detail-row">
				<div class="ticket-col-info">
					<mat-label class="label">Full Name:</mat-label>
					<mat-form-field class="flex-1" appearance="outline">
						<input type="text" matInput readonly [value]="ticket.user.firstName + ' ' + ticket.user.lastName">
					</mat-form-field>
				</div>
		
				<div class="ticket-col-info">
					<mat-label class="label">Email:</mat-label>
					<mat-form-field class="flex-1" appearance="outline">
						<input type="text" matInput readonly [value]="ticket.user.email">
					</mat-form-field>
				</div>
					<div class="ticket-col-info">
						<mat-label class="label">Phone Number:</mat-label>
						<mat-form-field class="flex-1" appearance="outline">
							<input type="text" matInput readonly [value]="ticket.user.phone">
						</mat-form-field>
					</div>
			</div>
		</div>
		<br><br>
		<h3>
			<span class="underlined">Ticket Info</span>
		</h3>
		<div class="ticket-details">
		<div class="ticket-detail-row">
			<div class="ticket-col-info">
				<mat-label class="label">Ticket Number:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.ticketDept + ticket.ticketId"> 
					
				</mat-form-field>
			</div>
	
			<div class="ticket-col-info">
				<mat-label class="label">Title:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.title">
				</mat-form-field>
			</div>
		</div>

		<div class="ticket-detail-row">
			<div class="ticket-col-info">
				<mat-label class="label">Requester Id:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.requesterId">
				</mat-form-field>
			</div>
	
			<div class="ticket-col-info">
				<mat-label class="label">Admin:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.admin">
				</mat-form-field>
			</div>
		</div>

		<div class="ticket-detail-row">
			<div class="ticket-col-info">
				<mat-label class="label">Date Created:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.createdAt">
				</mat-form-field>
			</div>
	
			<div class="ticket-col-info">
				<mat-label class="label">Completed At:</mat-label>
				<mat-form-field class="flex-1" appearance="outline">
					<input type="text" matInput readonly [value]="ticket.completedAt">
				</mat-form-field>
			</div>
		</div>
		<br>
		<br>

		<!---->
	<div class="float-container">
		<div class="float-child">
		  <div class="edit">Edit</div>
		</div>
		
		<div class="float-child">
		  <div class="comment">Comment</div>
		</div>
	
		<div class="float-child">
			<div class="assign">Assign</div>
		  </div>
	
		  <div class="float-child">
			<div class="status">Status - Pending</div>
		  </div>
		  <br>
	  </div>
	<!---->
	<br>
		<p>
			<label for="text area">Description:</label></p>
			<textarea id="description" 
			name="description" rows="5" cols="150">Need help with setting up 2 server racks in ICS Building. They will need to be configured with CENTOS and Ubuntu 18.04.</textarea>
			<br><br>
		<p>
	</div>
</div>

