<div class="ticket-view" *ngIf="ticket">

	<!-- Breakpoint to seperate itself from the ticket (like a carriage retrun) -->
		<!-- Each "ticket-detail-row" contains two input fields.
		1. input fields are readonly.
		2. Associated data was bound using 'property binding'.
		   [value]="ticket.ticketId"
		3. matInput used for custom styling
		4. Styles can be viewed in css file
		5. Flex used for layout.
	-->
	<div class="detail box">
	<h2 class="heading-primary">
		Details for ticket # DJC: {{ ticket.ticketId }} <!-- ECS is department abbr if needed. Can change to whatever -->
	</h2>
	<!-- Move "detail box" here instead if you want color of background gone -->
		<div class="ticket-surround"> <!-- Added for blue background color masked as white. Change css if want removed -->
		<div class="user-details">
			<div class="left">
				<div class="title-box">
					<div class="label-bold">Title:&nbsp;&nbsp;</div>
					<div class="title">{{ticket.title}}</div> <!-- Temp title deleted, can now pull from ticket -->
				</div>
				<div class="description-box">
					<div class="label-bold">Description:&nbsp;&nbsp;</div>
					<div class="description">{{ticket.description}}
					</div>
				</div>
			</div>
			<!-- User details box (right side) -->
			<div class="right box">
				<div class="label-box">User Details</div>
				<div class="info" *ngIf="user; else noUser;">
					<div class="flex flex-col mb-2">
						<label for="fullname" class="label">Full Name:</label> <!-- Waiting on back-end implementation -->
						<input id="fullname" type="text" readonly [value]="user.firstName">
					</div>
					<div class="flex flex-col mb-2">
						<label for="email" class="label">Email:</label> 
						<!-- Pulling user email associated with ticketId fom DB -->
						<input id="email" type="text" readonly [value]="user.email">
					</div>
				</div>
				<ng-template #noUser>
					<!-- This will appear if there is no user associated with a ticketId) -->
					<div>No user assigned yet</div>
				</ng-template>
			</div>
		</div>
		<!-- Ticket Info box separating ticket details from description -->
		<div class="ticket-info box">
			<div class="middle box">
				<div class="label-box">Agent Details</div>
				<div class="info" *ngIf="agent; else noUser;">
					<div class="flex flex-col mb-2">
						<label for="fullname" class="label">Full Name:</label> 
						<input id="fullname" type="text" readonly [value]="agent.firstName">
					</div>
					<div class="flex flex-col mb-2">
						<label for="email" class="label">Email:</label> 
						<!-- Pulling user email associated with ticketId fom DB -->
						<input id="email" type="text" readonly [value]="agent.email">
					</div>
				</div>
				<ng-template #noUser>
					<!-- This will appear if there is no user associated with a ticketId) -->
					<div>No user assigned yet</div>
				</ng-template>
			</div>
			<br>
			<div class="label-box">Ticket Info</div>
			<div class="box flex">
				<div class="left-box">
					<div class="flex flex-col mb-2 w-50">
						<!-- Grabs ticket id information and displays it -->
						<label for="ticketId" class="label">Ticket Id:</label>
						<input id="ticketId" type="text" readonly [value]="ticket.ticketId">
					</div>
					<!-- Waiting on back-end implementation -->
					<div class="flex flex-col mb-2 w-50">
						<label for="requesterId" class="label">Status Id:</label>
						<input id="requesterId" type="text" readonly [value]="ticket.status">
					</div>
				</div>

				<div class="right-box">
					<div class="flex flex-col mb-2 w-50">
						<label for="createdAt" class="label">Created At:</label>
						<input id="createdAt" type="text" readonly [value]="ticket.createdAt">
					</div>
					<!-- Grabs ticket updated information and displays it -->
					<div class="flex flex-col mb-2 w-50">
						<label for="updatedAt" class="label">Updated At:</label>
						<input id="updatedAt" type="text" readonly [value]="ticket.updatedAt">
					</div>
				</div>
				
			</div>
		</div>
		<!-- If there is no comment for ticket, dont display box, if there is, display the comment box -->
		<div class="comments box" *ngIf="comments.length > 0">
			<div class="comment box" *ngFor="let comment of comments">
				<div class="flex flex-col">
					<!-- email that wrote the comment since db for name isnt up yet -->
					<div class="label" style="margin-bottom: 6px;">{{ comment.userEntity.email }}</div>
						<p> <!-- added space to seperate email from comment -->
					<!-- Content from the comment being pulled in HTML from the HTML editor, that's why innerHTML is bounded here -->
					<div [innerHTML]="comment.content"></div>
				</div>
				<div class="comment-date label">{{ comment.createdAt | date: 'medium' }}</div>
			</div>
		</div>
		<!-- Separator box between comments and Response -->
		<div class="separator-box"></div>
		<!-- Response field for customer comment -->
		<div class="html-editor box">
			<!-- Placeholder text for comment response box -->
			<app-html-editor placeholder="New Response here..."
				[htmlContent]="responseFC.value"
				(signals)="onHtmlContentChange($event)"> <!-- Determines when a change in values have been made in html editor -->
			</app-html-editor>
		</div> <!-- Submit button for comment response field -->
		<button class="mt-3" mat-raised-button color="primary" (click)="onSubmit()">Submit Response</button>
	</div>